@font-face
    font-family: 'OpenSans'
    src: local('OpenSans'), url(fonts/OpenSans/OpenSans-Regular.ttf) format('truetype')

*
    margin: 0
    padding: 0
    box-sizing: border-box

#root
    display: flex
    flex-direction: column
    min-height: 100vh
    width: 100%

$dark-theme-bg-color: #353240
